[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Anshul Patel (anshulpatel25)
[access "refs/for/refs/*"]
	read = group user/Anshul Patel (anshulpatel25)
	push = group user/Anshul Patel (anshulpatel25)
	label-Code-Review = -2..+2 group user/Anshul Patel (anshulpatel25)
	label-Verified = -1..+1 group user/Anshul Patel (anshulpatel25)
	rebase = group user/Anshul Patel (anshulpatel25)
	removeReviewer = group user/Anshul Patel (anshulpatel25)
	submit = group user/Anshul Patel (anshulpatel25)
[access "refs/heads/*"]
	read = group user/Anshul Patel (anshulpatel25)
	create = group user/Anshul Patel (anshulpatel25)
	push = +force group user/Anshul Patel (anshulpatel25)
	pushMerge = group user/Anshul Patel (anshulpatel25)
[access "refs/tags/*"]
	push = group user/Anshul Patel (anshulpatel25)
	push = +force group user/Anshul Patel (anshulpatel25)
