.stl-viewer {
  background-color: #eee;
  border-radius: 8px;
  cursor: move;
  height: 500px;
  margin: 1rem 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.stl-viewer canvas {
  display: block;
  height: 100%;
  width: 100%;
}
